APP_NAME="Slim Starter"
APP_ENV=development
APP_DEBUG=true

# Database configuration
DB_DRIVER=pdo_mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=slim_starter_test
DB_USER=root
DB_PASSWORD=

# Twig cache (true / false)
TWIG_CACHE=false

# Logging
LOG_PATH=var/log/app.log
