APP_NAME="Slim Starter"
APP_ENV=development
APP_DEBUG=true

# Database configuration
# Driver can be pdo_sqlite, pdo_mysql, pdo_pgsql
DB_DRIVER=pdo_sqlite
DB_PATH=var/app.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=slim_app
DB_USER=root
DB_PASSWORD=

# Twig cache (true / false)
TWIG_CACHE=false

# Logging
LOG_PATH=var/log/app.log
